.container {
  background-color: transparent;
}
.card {
  background-color: rgba(52, 58, 64, 0.9);
}
.list-group {
  background-color: transparent;
}
.list-group .list-group-item {
  background-color: transparent;
}
html {
  background-color: #1e1e1e;
  background-image: url('https://vgy.me/oN7GrI.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40%;
}
@media (max-width: 767.98px) {
  html {
    background-size: 70%;
  }
}
html body {
  background-color: transparent;
}
