@import (reference) 'colors.less';

// bs4 class adjsutments
.container{
    background-color: transparent;
}
.card{
    // background-color: rgba(40,40,40,0.95);
    background-color: @clr-bs4-dark;
}

.list-group{
    background-color: transparent;
    .list-group-item{
        background-color: transparent;
    }
}


html{
    background-color: @clr-bg-main;
    background-image: url('https://vgy.me/oN7GrI.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;

    @media (max-width: 767.98px){
        background-size: 70%;
    }

    body{
        background-color: transparent;
    }
}